_old/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Ambiente
.env

# Data lake (dados baixados/gerados)
urban-mobility-analytics/data/bronze/*
urban-mobility-analytics/data/silver/*
!urban-mobility-analytics/data/bronze/.gitkeep
!urban-mobility-analytics/data/silver/.gitkeep

# dbt
urban-mobility-analytics/**/target/
urban-mobility-analytics/**/dbt_packages/
urban-mobility-analytics/**/logs/
urban-mobility-analytics/**/.user.yml

# Airflow runtime
urban-mobility-analytics/airflow/airflow.db
urban-mobility-analytics/airflow/airflow-webserver.pid

.DS_Store
*.swp
