POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=urban_mobility
POSTGRES_USER=urban_mobility
POSTGRES_PASSWORD=urban_mobility

LAKE_BRONZE_PATH=./data/bronze
LAKE_SILVER_PATH=./data/silver

TLC_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
TLC_DATASET=yellow

INGESTION_YEAR=2025
INGESTION_MONTH=01
